[Unit]
Description=Caddy Certificate Renewal Hook
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/caddy-cert-renewed-hook.sh
User=root

[Install]
WantedBy=multi-user.target
